* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "sideBar content content";
  grid-template-rows: 20vh 80vh;
  grid-template-columns: 2fr 10fr;
  grid-gap: none;
}

.header {
  grid-area: header;
  background-color: blueviolet;
}

.logo img {
  width: 20px;
}

.sideBar {
  grid-area: sideBar;
  background-color: tomato;
}

.content {
  grid-area: content;
  background-color: teal;
}

.profile-avatar {
  width: 250px;
  border-radius: 50%;
}
